html,
body {
  background: #21232a;
  color: white;
  display: flex;
  text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

button{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 10px;
  border-style: none;
}